blueprints/crypto-bot-blueprint.json.json
{
    "name": "Integration Telegram Bot",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1080949
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "TelegramCryptoWebhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": null,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "Comando_Start",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                }
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "regexp:Replace",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Datos_Operacion",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:notcontain:ci"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "Cripto_Par:",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "{{1.message.text}}",
                                "value": "|",
                                "global": true,
                                "pattern": "\\n",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "global": {
                                            "mode": "chose"
                                        },
                                        "multiline": {
                                            "mode": "chose"
                                        },
                                        "sensitive": {
                                            "mode": "chose"
                                        },
                                        "singleline": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "New value"
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "Fecha_Apertura",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 1); \":\"); 2))}}"
                                    },
                                    {
                                        "name": "Fecha_Cierre",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 2); \":\"); 2))}}"
                                    },
                                    {
                                        "name": "Cripto_Par",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 3); \":\"); 2))}}"
                                    },
                                    {
                                        "name": "Tipo_Operacion",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 4); \":\"); 2))}}"
                                    },
                                    {
                                        "name": "Apalancamiento",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 5); \":\"); 2))}}"
                                    },
                                    {
                                        "name": "Monto_Inicial_USD",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 6); \":\"); 2))}}"
                                    },
                                    {
                                        "name": "Precio_Entrada",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 7); \":\"); 2))}}"
                                    },
                                    {
                                        "name": "Precio_Salida",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 8); \":\"); 2))}}"
                                    },
                                    {
                                        "name": "Ganancia_Perdida_USD",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 9); \":\"); 2))}}"
                                    },
                                    {
                                        "name": "Ganancia_Perdida_Porcentaje",
                                        "value": "{{trim(get(split(get(split(4.text; \"|\"); 10); \":\"); 2))}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Fecha_Apertura",
                                        "type": "any",
                                        "label": "Fecha_Apertura"
                                    },
                                    {
                                        "name": "Fecha_Cierre",
                                        "type": "any",
                                        "label": "Fecha_Cierre"
                                    },
                                    {
                                        "name": "Cripto_Par",
                                        "type": "any",
                                        "label": "Cripto_Par"
                                    },
                                    {
                                        "name": "Tipo_Operacion",
                                        "type": "any",
                                        "label": "Tipo_Operacion"
                                    },
                                    {
                                        "name": "Apalancamiento",
                                        "type": "any",
                                        "label": "Apalancamiento"
                                    },
                                    {
                                        "name": "Monto_Inicial_USD",
                                        "type": "any",
                                        "label": "Monto_Inicial_USD"
                                    },
                                    {
                                        "name": "Precio_Entrada",
                                        "type": "any",
                                        "label": "Precio_Entrada"
                                    },
                                    {
                                        "name": "Precio_Salida",
                                        "type": "any",
                                        "label": "Precio_Salida"
                                    },
                                    {
                                        "name": "Ganancia_Perdida_USD",
                                        "type": "any",
                                        "label": "Ganancia_Perdida_USD"
                                    },
                                    {
                                        "name": "Ganancia_Perdida_Porcentaje",
                                        "type": "any",
                                        "label": "Ganancia_Perdida_Porcentaje"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4422199
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{5.Fecha_Apertura}}",
                                    "1": "{{5.Fecha_Cierre}}",
                                    "2": "{{5.Cripto_Par}}",
                                    "3": "{{5.Tipo_Operacion}}",
                                    "4": "{{5.Apalancamiento}}",
                                    "5": "{{5.Monto_Inicial_USD}}",
                                    "6": "{{5.Precio_Entrada}}",
                                    "7": "{{5.Precio_Salida}}",
                                    "8": "{{5.Ganancia_Perdida_USD}}",
                                    "9": "{{5.Ganancia_Perdida_Porcentaje}}"
                                },
                                "sheetId": "Hoja 1",
                                "spreadsheetId": "/16BS9ju2wHzi_j7p-3wbZEdX2Gnp4GLCJ/10Gf3OPMYe303lAfi71VhcyweZLSmlnz5vBMaCN7J7_0",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "values": {
                                            "nested": {
                                                "10": {
                                                    "collapsed": true
                                                },
                                                "11": {
                                                    "collapsed": true
                                                },
                                                "12": {
                                                    "collapsed": true
                                                },
                                                "13": {
                                                    "collapsed": true
                                                },
                                                "14": {
                                                    "collapsed": true
                                                },
                                                "15": {
                                                    "collapsed": true
                                                },
                                                "16": {
                                                    "collapsed": true
                                                },
                                                "17": {
                                                    "collapsed": true
                                                },
                                                "18": {
                                                    "collapsed": true
                                                },
                                                "19": {
                                                    "collapsed": true
                                                },
                                                "20": {
                                                    "collapsed": true
                                                },
                                                "21": {
                                                    "collapsed": true
                                                },
                                                "22": {
                                                    "collapsed": true
                                                },
                                                "23": {
                                                    "collapsed": true
                                                },
                                                "24": {
                                                    "collapsed": true
                                                },
                                                "25": {
                                                    "collapsed": true
                                                }
                                            }
                                        },
                                        "sheetId": {
                                            "label": "Hoja 1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "CRYPTO",
                                                "APALANCAMIENTO-AUTOMATIZACION"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Fecha_Apertura (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Fecha_Cierre (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Cripto_Par (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Tipo_Operacion (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Apalancamiento (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Monto_Inicial_USD (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Precio_Entrada (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Precio_Salida (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Ganancia_Perdida_USD (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Ganancia_Perdida_Porcentaje (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "CryptoBotAutomatization (juanmarabunal@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Fecha_Apertura (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Fecha_Cierre (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Cripto_Par (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Tipo_Operacion (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Apalancamiento (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Monto_Inicial_USD (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Precio_Entrada (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Precio_Salida (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Ganancia_Perdida_USD (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Ganancia_Perdida_Porcentaje (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 7,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4422486
                            },
                            "mapper": {
                                "text": "¡Operación registrada con éxito! ✅\n\nPar: {{5.Cripto_Par}}\nGanancia/Pérdida: {{5.Ganancia_Perdida_USD}} USD ({{5.Ganancia_Perdida_Porcentaje}}%)",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "help": "Fecha_Apertura: 2025-07-16 19:47:39\nFecha_Cierre: 2025-07-16 19:47:39\nCripto_Par: ETH/USDT\nTipo_Operacion: Long\nApalancamiento: 25x\nMonto_Inicial_USD: 869.02\nPrecio_Entrada: 3355.27\nPrecio_Salida: 3355.27\nGanancia_Perdida_USD: -4.95726000\nGanancia_Perdida_Porcentaje: -0.57",
                "name": "Prueba",
                "type": "text",
                "label": "",
                "default": "",
                "required": false,
                "multiline": true
            }
        ],
        "output_spec": []
    }
}